<!-- views/cart.handlebars -->
<main>
    <section>
        <h2>Productos en tu carrito</h2>
        {{#if cartItems.length}}
            <ul>
                {{#each cartItems}}
                    <li>
                        <h3>{{this.name}}</h3>
                        <p>Precio: ${{this.price}}</p>
                        <p>Cantidad: {{this.quantity}}</p>
                        <p>Total: ${{multiply this.price this.quantity}}</p>
                    </li>
                {{/each}}
            </ul>
            <p>Total del carrito: ${{totalPrice cartItems}}</p>
            <button>Proceder al pago</button>
        {{else}}
            <p>Tu carrito está vacío.</p>
        {{/if}}
    </section>
</main>
