 <div class="container">
            <div class="alert alert-success" role="alert">
                <p>Bienvenido, estás autenticado.</p>
            </div>
        </div>
   
<br>
<!-- views/profile.handlebars -->
<main class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h2>Perfil de Usuario</h2>
                </div>
                <div class="card-body text-center">
                    <img src="{{user.avatar}}" alt="Avatar de {{user.name}}" class="rounded-circle mb-3" width="150">
                    <h3>{{user.name}}</h3>
                    <p><strong>Email:</strong> {{user.email}}</p>
                    <p><strong>Ubicación:</strong> {{user.location}}</p>
                    <p><strong>Biografía:</strong> {{user.bio}}</p>
                    <li class="nav-item">
                                <form action="/user" method="post" class="form-inline">
                                    <button type="submit" class="btn btn-outline-danger">users</button>
                                </form>
                            </li>
                </div>
            </div>
        </div>
    </div>
</main>



  
       
  
  

